<app-navbar ></app-navbar>
<!-- <mat-drawer-container class="example-container">
    <mat-drawer class="sidenav" mode="side" opened>
        <mat-nav-list role="navigation">
            <mat-list-item *ngFor="let item of [1]">
               <a [routerLink]="'/pages/home1'" [routerLinkActive]="'active'"
               [routerLinkActiveOptions]="{exact:true}">Hola</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
         <h1 *ngFor="let item of [1,1]">1</h1> 
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container> -->

  <router-outlet></router-outlet>

