<div class="modal animacion fadeIn" *ngIf="this.mealShow">
    <div class="container" *ngIf="mealShow " >
      <mat-card>
          <mat-card-header class="hand" [routerLink]="['/pages/det-platillo', mealShow.idMeal]">
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>Carrusel cambia cada 5 minutos.</mat-card-title>
            <mat-card-subtitle>{{mealShow.strMeal}}</mat-card-subtitle>
          </mat-card-header>
          <img (click)="next()"  class="hand" mat-card-image [src]="mealShow.strMealThumb" [alt]="mealShow.strMeal">
          <mat-card-content class="hand" (click)="next()">
            <p>
              <strong>Instructions : </strong>
              {{mealShow.strInstructions | slice: 0:100}}...
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" [routerLink]="['/pages/det-platillo', mealShow.idMeal]">Ver Detalles</button>
          </mat-card-actions>
          <h1 class="next hand" (click)="next()"></h1>
          <h1 class="back hand" (click)="back()"></h1>
        </mat-card>
      </div>
  </div>
