<mat-toolbar color="primary">
    <span>{{titulo}}</span>
    <div>
        <span *ngFor="let item of menu"> 
            <button mat-button *ngIf="!item.submenu" [routerLink]="[item.url]">{{item.titulo}}</button>
            <button mat-button *ngIf="item.submenu" [matMenuTriggerFor]="belowMenu">{{item.titulo}}<mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">arrow_drop_down</mat-icon></button>
            <mat-menu #belowMenu="matMenu" yPosition="below">
              <div *ngFor="let sub of item.submenu">
                  <button *ngIf="sub.url"  [routerLink]="[sub.url]" mat-menu-item>{{sub.titulo}}</button>
                  <button *ngIf="sub.method" (click)="logOut()" mat-menu-item>{{sub.titulo}}</button>
                </div>
            </mat-menu>
        </span>
    </div>
</mat-toolbar>