<div class="container">
    <!-- <br>
    <h1>Bienvenido a tu pagina de platillos</h1>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque doloremque dignissimos deserunt, voluptate at animi. Vitae accusantium beatae praesentium dolorem quidem autem mollitia eos accusamus tenetur! Quis voluptas perferendis veritatis?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas veritatis dolore neque, porro aliquam reiciendis
        nulla sapiente unde, ipsum possimus cumque tempora vel itaque sequi voluptatum ab praesentium exercitationem aut!
    </p> -->
    <app-carusel *ngIf="listMealsCarousel" [listMeal]="listMealsCarousel" ></app-carusel>
</div>
<app-aleatorio-modal (modal)="modal=$event" [platillo]="platillo" *ngIf="modal"></app-aleatorio-modal>

